.container{
    background-color: #00adb5;
    padding-top: 1rem;
}
.selects{
    text-align: center;
    font-family: 'Girassol', cursive;  
    padding: 10px 20px;
    margin: 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}