.recipeCards{  
    width: 300px;
    height: 300px;
    background-color: #09ad71;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: black 5px 5px 5px;
    margin: 10px;
    opacity: 0.8;
}
.recipeCards:hover{
    /* box-shadow: none; */
    opacity: 1;
    transition: all 0.3s ease-in;

}
.recipeCards:hover img{
    /* width: 55%; */
    transition: all 0.3s ease-in;
    transform: scale(1.15);
}

img{
    width: 50%;
    border-radius: 5px;
}


.showButton:hover{
    cursor: pointer;
    color: #00adb5;
    
}
