.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    
    
}
input,button{
    text-align: center;
    font-family: 'Girassol', cursive;  
    padding: 10px 20px;
    margin: 0.5rem;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    
}
button{
    color: white;
}