@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #E1F1DD;
    font-family: 'Girassol', cursive;  
    font-size: 2rem;
    text-decoration: none;
    width: 100%;
    height: 75px;   

}
.link{
    display: flex; 
    vertical-align: baseline;
    text-decoration: none;
    color: #02455E;
    padding: 10px;
    font-weight: 500;
}

.rightNav{
    display: flex;
  

}
.link:hover{
    color: #00ADB6;
    font-weight: 600;
    cursor: pointer;
}

